.container.top-buffer
  .row
    .col-xs-6.col-md-10
      %h3= "Book #{@book.name}"
    .col-xs-6.col-md-2
      = link_to "return", books_path, id: 'categories_index'
  .row
    .col-md-4
      %h4 Author
      %p= "#{@book.author}"
  .row
    -if @book.categories.empty?
      %h4 This book do not have any category
    -else
      .col-md-4
        %h4 Description
        %p= "#{@book.name}"
  .row
    -if @book.user_id.nil?
      This book is not borrowed
    -else
      .col-md-4
        %h4 User
        %p= "#{@book.user.name}"
  .row
    .col-md-4
      %h5 Status
      %p= "#{@book.status}"
    
